html, body, #root {
	height: 100%;
	margin: 0;
}

#root {
	min-height: 100svh;
}

:root {
	font-family: Normal-Medium, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light;
	color: rgba(255, 255, 255, 0.87);
}
*, *::before, *::after { box-sizing: inherit; }
